---
layout: base
---

.slides
  %section.title(data-state="intro" )
    .title-information
      %h2.invert JBoss Adventures in Chicago
      %h5
    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell

  %section(data-state="hills" )
    %h2 Your Topics
    :markdown
      * What to expect with JBoss BRMS / BPM Suite v6
      * JBoss Fuse, JBoss A-MQ, SOA-P
        * how does it all fit together?
      * If you learn only one new produt this year?
        * is should be X and here is why...

  %section.title(data-state="flowers" )
    .title-information
      %h2 Questions
      %h4 or
      %h2 Comments?
      %h5
    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
