---
layout: base
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h2 Presentations
      %h5
        :markdown
          * [JBoss BRMS & BPM Suite 2014 (workshop)] (bpmsuite_primer_workshop.html)
          * [JAX London 2013 (workshop)] (jaxlondon2013_openshift.html)

    .title-author
      Eric D. Schabell
      %br
        JBoss Technology Evangelist (Integration & BPM)
      %a{ :href=>"http://twitter.com/ericschabell"}@ericschabell
