---
layout: jtebase
---

.slides
  %section.title(data-state="cycling" )
    .title-information
      %h4 Lab 14 - Process & Task and Business Dashboards (BAM)

  %section.title(data-state="cycling" )
    .title-information
      %h2 Lab Goal
      %h4 To explore the available dashboards in JBoss BPM Suite

  %section(data-state="" )
    .title-information
      %h4 BAM Dashboards (TODO)
    :markdown
      * View Process & Task Dashboard

      <div style="float: right">
        <img src="/images/brms_bpms_workshop/image146.png" />
      </div>

  %section(data-state="" )
    .title-information
      %h4 BAM Dashboards (TODO)
    :markdown
      * View Business Dashboard
      * A short [workshop available on BAM reports] (https://github.com/eschabell/bpms-bam-dashboard)
        * `BAM lab guide` provides a 1-2 hour workshop, found in docs directory.

      <div style="float: right">
        <img src="/images/brms_bpms_workshop/image146.png" />
      </div>

  %section(data-state="questions" )
    .title-information

  %section(data-state="" )
    .title-information
    :markdown
      <div style="float: left">
        <img height="100" width="700" src="/images/references.jpg" />
      </div>
      * JBoss BRMS & BPM Suite Articles
        * <font size="5">[_http://schabell.org/search/label/BRMS_] (http://schabell.org/search/label/BRMS) - [_http://schabell.org/search/label/BPMS_] (http://schabell.org/search/label/BPMS)</font>
      * JBoss BPM Suite Demos
        * <font size="5">[_http://www.schabell.org/2013/10/jboss-bpm-suite-rocking-the-mortgage-demo.html_] (http://www.schabell.org/2013/10/jboss-bpm-suite-rocking-the-mortgage-demo.html)</font>
        * <font size="5">[_http://www.schabell.org/2013/11/jboss-bpm-suite-automated-lending-generic-loan-demo.html_] (http://www.schabell.org/2013/11/jboss-bpm-suite-automated-lending-generic-loan-demo.html)</font>
        * <font size="5">[_http://www.schabell.org/2013/12/bpms-examining-migrated-customer-evaluation-demo.html_] (http://www.schabell.org/2013/12/bpms-examining-migrated-customer-evaluation-demo.html)</font>
        * <font size="5">[_https://github.com/eschabell/business-resource-optimizer-demo_] (https://github.com/eschabell/business-resource-optimizer-demo)</font>
      * JBoss xPaaS Demos
        * <font size="5">[_https://github.com/eschabell/cartridge-bpmPaaS_] (https://github.com/eschabell/cartridge-bpmPaaS)</font>
        * <font size="5">[_https://github.com/eschabell/cartridge-bpmPaaS-generic-loan-demo_] (https://github.com/eschabell/cartridge-bpmPaaS-generic-loan-demo)</font>

  %section.title(data-state="cycling" )
    .title-information
      %h1 The End
      %h5 Thanks for participating,
      %h5 spread the word
      %h5 and
      %h5 speak fondly of this workshop!
